<template class="task-template">
  <section id="led-section" class="section view-section">
    <div class="color-picker-container">
      <span class="color-picker-label app-container-label">Calibração</span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fugit debitis maxime nobis pariatur recusandae
      corporis optio, non vero velit, assumenda voluptate molestias veritatis nulla incidunt quia iusto vitae
      cupiditate?
    </div>

<!--     
    <div class="connected-button disconnected scanning with-hover">
      <div class="connected-indicator"></div>
      <span class="connected-status">Scanning</span>
    </div> 
-->

    <script type="text/javascript">
      require('./renderer-process/calibration')
    </script>
  </section>
</template>