<template class="task-template">
  <section id="connect-section" class="section view-section">
    <span class="page-title">Control Panel</span>
    <div class="usb-icon"></div>
    <div id="connect-button" class="connected-button disconnected scanning with-hover">
      <div class="connected-indicator"></div>
      <span class="connected-status">Scanning</span>
    </div>
    <input class="port-input" type="text" />
    <div class="baud">
      <span class="baud-label">Baud Rate:</span>
      <select id="baudrate" class="form-control dropdown">
        <option value="baud">baud</option>
      </select>
    </div>

    <div class="baud " style="margin-top: -5px">
      <span class="baud-label">Port:</span>
      <select id="port" class="form-control dropdown">
        <option selected value="placeholder">port</option>
      </select>
    </div>

    <script type="text/javascript">
      require('./renderer-process/connect')
    </script>
  </section>
</template>